# Content Based Recommender System
membuat recommender system yang menggunakan Content/feature dari film/entitas tersebut, kemudian melakukan perhitungan terhadap kesamaannya sehingga mendapat beberapa film lain yang memiliki kesamaan dengan film tersebut

## Unloading and Checking Datasets

In [ ]:
# import library yang dibutuhkan
import pandas as pd
import numpy as np

# lakukan pembacaan dataset
# untuk menyimpan movie_rating_df.csv
movie_rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/movie_rating_df.csv ') 

# tampilkan 5 baris teratas dari movive_rating_df
movie_rating_df.head()

      tconst titleType  ... averageRating numVotes
0  tt0000001     short  ...           5.6     1608
1  tt0000002     short  ...           6.0      197
2  tt0000003     short  ...           6.5     1285
3  tt0000004     short  ...           6.1      121
4  tt0000005     short  ...           6.1     2050

[5 rows x 11 columns]

tampilkan info mengenai tipe data dari tiap kolom

In [ ]:
movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751614 entries, 0 to 751613
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          751614 non-null  object
 1   titleType       751614 non-null  object
 2   primaryTitle    751614 non-null  object
 3   originalTitle   751614 non-null  object
 4   isAdult         751614 non-null  int64
 5   startYear       751614 non-null  float64
 6   endYear         16072 non-null   float64
 7   runtimeMinutes  751614 non-null  float64
 8   genres          486766 non-null  object
 9   averageRating   751614 non-null  float64
 10  numVotes        751614 non-null  int64
dtypes: float64(4), int64(2), object(5)
memory usage: 63.1+ MB

### Add Actors Dataframe
menambahkan metadata lain seperti aktor/aktris yang bermain di film tersebut menggunakan dataframe actor_name.csv yang nantinya dijoin

In [ ]:
#Simpan actor_name.csv pada variable name_df 
name_df = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/actor_name.csv')

#Tampilkan 5 baris teratas dari name_df
name_df.head()

       nconst  ...                           knownForTitles
0   nm1774132  ...  tt0417686,tt1713976,tt1891860,tt0454839
1  nm10683464  ...                                tt7718088
2   nm1021485  ...                                tt0168790
3   nm6940929  ...                                tt4232168
4   nm5764974  ...                                tt3014168

[5 rows x 6 columns]

Tampilkan informasi mengenai tipe data dari tiap kolom pada name_df

In [ ]:
name_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nconst             1000 non-null   object
 1   primaryName        1000 non-null   object
 2   birthYear          1000 non-null   object
 3   deathYear          1000 non-null   object
 4   primaryProfession  891 non-null    object
 5   knownForTitles     1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB

### Add Directors and Writers Dataframe
menambahkan dataframe lain dengan dataframe yang berisi directors dan writers dari film

In [ ]:
# Menyimpan dataset pada variabel director_writers
director_writers = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/directors_writers.csv')

# Manampilkan 5 baris teratas
director_writers.head()

      tconst  ...                                      writer_name
0  tt0011414  ...                          John Emerson,Anita Loos
1  tt0011890  ...     Arthur F. Goodrich,Burns Mantle,Mary Murillo
2  tt0014341  ...  Jean C. Havez,Clyde Bruckman,Joseph A. Mitchell
3  tt0018054  ...                                Jeanie Macpherson
4  tt0024151  ...                 Max Miller,Wells Root,Jack Jevne

[5 rows x 3 columns]

Menampilkan informasi tipe data

In [ ]:
director_writers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         986 non-null    object
 1   director_name  986 non-null    object
 2   writer_name    986 non-null    object
dtypes: object(3)
memory usage: 23.2+ KB

### Convert into List
mengubah director_name dan writer_name dari string menjadi list

In [ ]:
# Mengubah director_name menjadi list
director_writers['director_name'] = director_writers['director_name'].apply(lambda row: row.split(','))
director_writers['writer_name'] = director_writers['writer_name'].apply(lambda row: row.split(','))

# Tampilkan 5 data teratas
director_writers.head()

      tconst  ...                                        writer_name
0  tt0011414  ...                         [John Emerson, Anita Loos]
1  tt0011890  ...   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2  tt0014341  ...  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3  tt0018054  ...                                [Jeanie Macpherson]
4  tt0024151  ...               [Max Miller, Wells Root, Jack Jevne]

[5 rows x 3 columns]

## Cleaning and Processing Table Cast
Update name_df

In [ ]:
# Kita hanya akan membutuhkan kolom nconst, primaryName, dan knownForTitles
name_df = name_df[['nconst','primaryName','knownForTitles']]

# Tampilkan 5 baris teratas dari name_df
name_df.head()

       nconst          primaryName                           knownForTitles
0   nm1774132    Nathan McLaughlin  tt0417686,tt1713976,tt1891860,tt0454839
1  nm10683464        Bridge Andrew                                tt7718088
2   nm1021485    Brandon Fransvaag                                tt0168790
3   nm6940929   Erwin van der Lely                                tt4232168
4   nm5764974  Svetlana Shypitsyna                                tt3014168

### Movies per Actor
Melakukan pengecekan variasi jumlah film yang dibintangi oleh aktor.

In [ ]:
# Melakukan pengecekan variasi
name_df['knownForTitles'].apply(lambda x: len(x.split(','))).unique()

array([4, 1, 2, 3])

Mengubah kolom 'knownForTitles' menjadi list of list.

In [ ]:
# Mengubah knownForTitles menjadi list of list
name_df['knownForTitles'] = name_df['knownForTitles'].apply(lambda x: x.split(','))

# Mencetak 5 baris teratas
name_df.head()

       nconst  ...                                knownForTitles
0   nm1774132  ...  [tt0417686, tt1713976, tt1891860, tt0454839]
1  nm10683464  ...                                   [tt7718088]
2   nm1021485  ...                                   [tt0168790]
3   nm6940929  ...                                   [tt4232168]
4   nm5764974  ...                                   [tt3014168]

[5 rows x 3 columns]

### Korespondensi 1 - 1

membuat table yang mempunyai relasi 1-1 ke masing-masing title movie dengan melakukan unnest terhadap table tersebut

In [ ]:
import numpy as np
# menyiapkan bucket untuk dataframe
df_uni = []

for x in ['knownForTitles']:
    # mengulang index dari tiap baris sampai tiap elemen dari knownForTitles
    idx = name_df.index.repeat(name_df['knownForTitles'].str.len())
   
    # memecah values dari list di setiap baris dan menggabungkan nya dengan rows lain menjadi dataframe
    df1 = pd.DataFrame({
        x: np.concatenate(name_df[x].values)
    })
    
    # mengganti index dataframe tersebut dengan idx yang sudah kita define di awal
    df1.index = idx
    # untuk setiap dataframe yang terbentuk, kita append ke dataframe bucket
    df_uni.append(df1)
    
# menggabungkan semua dataframe menjadi satu
df_concat = pd.concat(df_uni, axis=1)

# left join dengan value dari dataframe yang awal
unnested_df = df_concat.join(name_df.drop(['knownForTitles'], 1), how='left')

# select kolom sesuai dengan dataframe awal
unnested_df = unnested_df[name_df.columns.tolist()]
unnested_df

         nconst        primaryName knownForTitles
0     nm1774132  Nathan McLaughlin      tt0417686
0     nm1774132  Nathan McLaughlin      tt1713976
0     nm1774132  Nathan McLaughlin      tt1891860
0     nm1774132  Nathan McLaughlin      tt0454839
1    nm10683464      Bridge Andrew      tt7718088
..          ...                ...            ...
998   nm5245804      Eliza Jenkins      tt1464058
999   nm0948460         Greg Yolen      tt0436869
999   nm0948460         Greg Yolen      tt0476663
999   nm0948460         Greg Yolen      tt0109723
999   nm0948460         Greg Yolen      tt0364484

[1918 rows x 3 columns]

### Mengelompokkan primaryName menjadi list group by knownForTitles
grouping kembali pada kolom player karena yang diinginkan adalah level movie untuk melakukan movie recommendation

In [ ]:
unnested_drop = unnested_df.drop(['nconst'], axis=1)

#menyiapkan bucket untuk dataframe
df_uni = []

for col in ['primaryName']:
    #agregasi kolom PrimaryName sesuai group_col yang sudah di define di atas
    dfi = unnested_drop.groupby(['knownForTitles'])[col].apply(list)
    #Lakukan append
    df_uni.append(dfi)
df_grouped = pd.concat(df_uni, axis=1).reset_index()
df_grouped.columns = ['knownForTitles','cast_name']
df_grouped

     knownForTitles           cast_name
0         tt0008125    [Charles Harley]
1         tt0009706    [Charles Harley]
2         tt0010304  [Natalie Talmadge]
3         tt0011414  [Natalie Talmadge]
4         tt0011890  [Natalie Talmadge]
...             ...                 ...
1893      tt9610496  [Stefano Baffetti]
1894      tt9714030        [Kevin Kain]
1895      tt9741820   [Caroline Plyler]
1896      tt9759814     [Ethan Francis]
1897      tt9856236     [Nuala Maguire]

[1898 rows x 2 columns]

## Join table
join antara movie table dan cast table  ( field knownForTitles dan tconst)

In [ ]:
base_df = pd.merge(df_grouped, movie_rating_df, left_on='knownForTitles', right_on='tconst', how='inner')
base_df.head()

  knownForTitles           cast_name  ... averageRating numVotes
0      tt0011414  [Natalie Talmadge]  ...           4.9      136
1      tt0011890  [Natalie Talmadge]  ...           6.3        7
2      tt0014341  [Natalie Talmadge]  ...           7.8     9621
3      tt0018054     [Reeka Roberts]  ...           7.3     1826
4      tt0024151     [James Hackett]  ...           6.3      455

[5 rows x 13 columns]

join antara base_df dengan director_writer table (field tconst dan tconst)

In [ ]:
base_df = pd.merge(base_df, director_writers, left_on='tconst', right_on='tconst', how='left')
base_df.head()

  knownForTitles  ...                                        writer_name
0      tt0011414  ...                         [John Emerson, Anita Loos]
1      tt0011890  ...   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2      tt0014341  ...  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3      tt0018054  ...                                [Jeanie Macpherson]
4      tt0024151  ...               [Max Miller, Wells Root, Jack Jevne]

[5 rows x 15 columns]

### Cleaning data
drop terhadap kolom knownForTitles

In [ ]:
base_drop = base_df.drop(['knownForTitles'], axis=1)
base_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1060 entries, 0 to 1059
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cast_name       1060 non-null   object
 1   tconst          1060 non-null   object
 2   titleType       1060 non-null   object
 3   primaryTitle    1060 non-null   object
 4   originalTitle   1060 non-null   object
 5   isAdult         1060 non-null   int64
 6   startYear       1060 non-null   float64
 7   endYear         110 non-null    float64
 8   runtimeMinutes  1060 non-null   float64
 9   genres          745 non-null    object
 10  averageRating   1060 non-null   float64
 11  numVotes        1060 non-null   int64
 12  director_name   986 non-null    object
 13  writer_name     986 non-null    object
dtypes: float64(4), int64(2), object(8)
memory usage: 124.2+ KB

mengganti nilai NULL pada kolom genres dengan 'Unknown'

In [ ]:
base_drop['genres'] = base_drop['genres'].fillna('Unknown')
base_drop['genres']

0                Comedy,Romance
1                       Unknown
2       Comedy,Romance,Thriller
3       Biography,Drama,History
4                 Drama,Romance
                 ...
1055                    Unknown
1056        Crime,Drama,Mystery
1057                Crime,Drama
1058            Horror,Thriller
1059      Comedy,Fantasy,Horror
Name: genres, Length: 1060, dtype: object

perhitungan jumlah nilai NULL pada tiap kolom

In [ ]:
base_drop.isnull().sum()

cast_name           0
tconst              0
titleType           0
primaryTitle        0
originalTitle       0
isAdult             0
startYear           0
endYear           950
runtimeMinutes      0
genres              0
averageRating       0
numVotes            0
director_name      74
writer_name        74
dtype: int64

mengganti nilai NULL pada kolom director_name dan writer_name dengan 'Unknown'

In [ ]:
base_drop[['director_name','writer_name']] = base_drop[['director_name','writer_name']].fillna('unknown')
base_drop[['director_name','writer_name']]

                          director_name                                        writer_name
0                      [David Kirkland]                         [John Emerson, Anita Loos]
1                   [Roy William Neill]   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2     [Buster Keaton, John G. Blystone]  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3                    [Cecil B. DeMille]                                [Jeanie Macpherson]
4                         [James Cruze]               [Max Miller, Wells Root, Jack Jevne]
...                                 ...                                                ...
1055                            unknown                                            unknown
1056                     [Bahadir Ince]        [Levent Cantek, Ali Demirel, Baris Erdogan]
1057                           [Rapman]                                           [Rapman]
1058                      [Sujoy Ghosh]  [Sujoy Ghosh, Raj Vasant, Pratim D. Gupta, Sur...
1059                  [Johannes Nyholm]                                  [Johannes Nyholm]

[1060 rows x 2 columns]

bungkus menjadi list of list karena value kolom genres terdapat multiple values

In [ ]:
base_drop['genres'] = base_drop['genres'].apply(lambda x: x.split(','))
base_drop['genres']

0                 [Comedy, Romance]
1                         [Unknown]
2       [Comedy, Romance, Thriller]
3       [Biography, Drama, History]
4                  [Drama, Romance]
                   ...
1055                      [Unknown]
1056        [Crime, Drama, Mystery]
1057                 [Crime, Drama]
1058             [Horror, Thriller]
1059      [Comedy, Fantasy, Horror]
Name: genres, Length: 1060, dtype: object

### Reformat table base_df
reformat pada table base_df yang beberapa kolomnya sudah didrop

Rename kolom :
- primaryTitle -> title
- titleType -> type
- startYear -> start
- runtimeMinutes -> duration
- averageRating -> rating
- numVotes -> votes

In [ ]:
#Drop kolom tconst, isAdult, endYear, originalTitle
base_drop2 = base_drop.drop(['tconst','isAdult','endYear','originalTitle'], axis=1)

base_drop2 = base_drop2[['primaryTitle','titleType','startYear','runtimeMinutes','genres','averageRating','numVotes','cast_name','director_name','writer_name']]

base_drop2.columns = ['title','type','start','duration','genres','rating','votes','cast_name','director_name','writer_name']
base_drop2.head()

                    title  ...                                        writer_name
0         The Love Expert  ...                         [John Emerson, Anita Loos]
1               Yes or No  ...   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2         Our Hospitality  ...  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3       The King of Kings  ...                                [Jeanie Macpherson]
4  I Cover the Waterfront  ...               [Max Miller, Wells Root, Jack Jevne]

[5 rows x 10 columns]

## Build the Content-based Recommender System

### Metadata Classification
klasifikasikan berdasarkan metadata genres, primaryName (cast name), director name, dan writer_name

In [ ]:
# Klasifikasi berdasar title, cast_name, genres, director_name, dan writer_name
feature_df = base_drop2[['title','cast_name','genres','director_name','writer_name']]

# Tampilkan 5 baris teratas
feature_df.head()

                    title  ...                                        writer_name
0         The Love Expert  ...                         [John Emerson, Anita Loos]
1               Yes or No  ...   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2         Our Hospitality  ...  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3       The King of Kings  ...                                [Jeanie Macpherson]
4  I Cover the Waterfront  ...               [Max Miller, Wells Root, Jack Jevne]

[5 rows x 5 columns]

### function sanitize 
untuk melakukan strip spaces dari setiap row dan setiap elemennya

In [ ]:
def sanitize(x):
    try:
        #kalau cell berisi list
        if isinstance(x, list):
            return [i.replace(' ','').lower() for i in x]
        #kalau cell berisi string
        else:
            return [x.replace(' ','').lower()]
    except:
        print(x)
        
# Kolom : cast_name, genres, writer_name, director_name        
feature_cols = ['cast_name','genres','writer_name','director_name']

# Apply function sanitize 
for col in feature_cols:
    feature_df[col] = feature_df[col].apply(sanitize)
    feature_df[col]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### function soup_feature
menggabungkan semua feature  menjadi 1 bagian

In [ ]:
# kolom yang digunakan : cast_name, genres, director_name, writer_name
def soup_feature(x):
    return ' '.join(x['cast_name']) + ' ' + ' '.join(x['genres']) + ' ' + ' '.join(x['director_name']) + ' ' + ' '.join(x['writer_name'])

# membuat soup menjadi 1 kolom 
feature_df['soup'] = feature_df.apply(soup_feature, axis=1)
feature_df['soup']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0       natalietalmadge comedy romance davidkirkland j...
1       natalietalmadge unknown roywilliamneill arthur...
2       natalietalmadge comedy romance thriller buster...
3       reekaroberts biography drama history cecilb.de...
4       jameshackett drama romance jamescruze maxmille...
                              ...
1055                vanessahanson unknown unknown unknown
1056    utkuarslan crime drama mystery bahadirince lev...
1057            jonathondeering crime drama rapman rapman
1058    sandinidhar horror thriller sujoyghosh sujoygh...
1059    lars-gunnarthorell comedy fantasy horror johan...
Name: soup, Length: 1060, dtype: object

menghitung ukuran dari vocabulary. Vocabulary adalah jumlah dari kata unik yang ada dari text tersebut dengan function CountVectorizer

untuk dengan mengeliminasi stop words (english), maka clean size vocabulary kita adalah like, little, lamb, love, mary, red, rose, sun, star (sorted alphabet ascending)

In [ ]:
# import CountVectorizer 
from sklearn.feature_extraction.text import CountVectorizer

# definisikan CountVectorizer dan mengubah soup tadi menjadi bentuk vector
count = CountVectorizer(stop_words='english')
count

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

fit transform feature soup menggunakan count vectorizer

In [ ]:
count_matrix = count.fit_transform(feature_df['soup'])
count_matrix.shape

(1060, 10026)

### membuat model similarity antara count matrix
menghitung score cosine similarity dari setiap pasangan judul (berdasarkan semua kombinasi pasangan yang ada)

$$cosine(x, y) = \frac{x*y^T}{||x||*||y||}$$

In [ ]:
# Import cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity

# Gunakan cosine_similarity antara count_matrix 
cosine_sim = cosine_similarity(count_matrix, count_matrix)

# print hasilnya
print(cosine_sim)

[[1.         0.15430335 0.35355339 ... 0.         0.         0.13608276]
 [0.15430335 1.         0.10910895 ... 0.         0.         0.        ]
 [0.35355339 0.10910895 1.         ... 0.         0.08703883 0.09622504]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.08703883 ... 0.         1.         0.10050378]
 [0.13608276 0.         0.09622504 ... 0.         0.10050378 1.        ]]

### membuat content based recommender system
reverse mapping dengan judul sebagai index nya

In [ ]:
indices = pd.Series(feature_df.index, index=feature_df['title']).drop_duplicates()

def content_recommender(title):
    # mendapatkan index dari judul film (title) yang disebutkan
    idx = indices[title]

    # menjadikan list dari array similarity cosine sim 
    #hint: cosine_sim[idx]
    sim_scores = list(enumerate(cosine_sim[idx]))

    # mengurutkan film dari similarity tertinggi ke terendah
    sim_scores = sorted(sim_scores,key=lambda x: x[1],reverse=True)

    # untuk mendapatkan list judul dari item kedua sampe ke 11
    sim_scores = sim_scores[1:11]

    # mendapatkan index dari judul-judul yang muncul di sim_scores
    movie_indices = [i[0] for i in sim_scores]

    # dengan menggunakan iloc, kita bisa panggil balik berdasarkan index dari movie_indices
    return base_df.iloc[movie_indices]

# aplikasikan function di atas
content_recommender('The Lion King')

     knownForTitles  ...                                        writer_name
848       tt3040964  ...                    [Justin Marks, Rudyard Kipling]
383       tt0286336  ...  [Valerie Georgeson, Colin Dann, Jenny McDade, ...
1002      tt7222086  ...  [Akihito Tsukushi, Keigo Koyanagi, Hideyuki Ku...
73        tt0075147  ...                                    [James Goldman]
232       tt0119051  ...                                      [David Mamet]
556      tt10068158  ...                                 [Akihito Tsukushi]
9         tt0028657  ...                    [Frances Guihan, Forrest Brown]
191       tt0107875  ...                    [Robin Lyons, George MacDonald]
803       tt2356464  ...         [Kristina Magdalena Henn, Lea Schmidbauer]
983       tt6270328  ...  [David Witt, John Derevlany, David Evans, Pete...

[10 rows x 15 columns]