# Recommender System
2 dasar tipe sistem rekomendasi:
- Sistem Rekomendasi Sederhana
  - hanya menggunakan urutan sebagai dasar perhitungannya
  - menggunakan urutan berdasarkan mungkin vote terbanyak, rating tertinggi, penjualan film paling tinggi
- Sistem Rekomendasi Berdasarkan Konten dari Fiturnya

Penyebab sistem rekomendasi dibuat
- Film-film yang lebih populer akan memiliki kemungkinan yang lebih besar untuk disukai juga oleh rata-rata penonton.
- Model ini tidak memberikan rekomendasi yang personal untuk setiap tipe user. 
- Implementasi model ini pun juga bisa dibilang cukup mudah, yang perlu kita lakukan hanyalah mengurutkan film-film tersebut berdasarkan rating dan popularitas dan menunjukkan film teratas dari list film tersebut.


$$Weighted Rating (WR) = (\frac{v}{v+m}*R) + (\frac{v}{v+m}*C)$$
dimana,
- v: jumlah votes untuk film tersebut
- m: jumlah minimum votes yang dibutuhkan supaya dapat masuk dalam chart
- R: rata-rata rating dari film tersebut
- C: rata-rata jumlah votes dari seluruh semesta film

In [1]:
# import library yang dibutuhkan
import pandas as pd
import numpy as np

# lakukan pembacaan dataset
# untuk menyimpan title_basics.tsv
movie_df = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/title.basics.tsv', sep='\t') 
# untuk menyimpan title.ratings.tsv
rating_df = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/title.ratings.tsv', sep='\t')

## Movie table Case

5 Data teratas dari table movie

In [2]:
movie_df.head()

      tconst  titleType  ... runtimeMinutes             genres
0  tt0221078      short  ...             \N  Documentary,Short
1  tt8862466  tvEpisode  ...             \N       Comedy,Drama
2  tt7157720  tvEpisode  ...             29   Comedy,Game-Show
3  tt2974998  tvEpisode  ...             \N               News
4  tt2903620  tvEpisode  ...             \N        Documentary

[5 rows x 9 columns]

## Exploratory Data Analysis

Tipe Data dari Setiap Kolom

pengecekan tipe data dari masing-masing kolom yang ada pada table movie

In [3]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          9025 non-null   object
 1   titleType       9025 non-null   object
 2   primaryTitle    9011 non-null   object
 3   originalTitle   9011 non-null   object
 4   isAdult         9025 non-null   int64
 5   startYear       9025 non-null   object
 6   endYear         9025 non-null   object
 7   runtimeMinutes  9025 non-null   object
 8   genres          9014 non-null   object
dtypes: int64(1), object(8)
memory usage: 634.7+ KB

Pengecekan Data dengan Nilai NULL

In [4]:
movie_df.isnull().sum()

tconst             0
titleType          0
primaryTitle      14
originalTitle     14
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            11
dtype: int64

### Analisis Kolom dengan data bernilai NULL
pengecekan terhadap bentuk data dari kolom primaryTitle dan originalTitle yang bernilai NULL

In [5]:
movie_df.loc[(movie_df['primaryTitle'].isnull())|(movie_df['originalTitle'].isnull())]

          tconst  titleType  ... runtimeMinutes                genres
9000  tt10790040  tvEpisode  ...             \N                    \N
9001  tt10891902  tvEpisode  ...             \N                 Crime
9002  tt11737860  tvEpisode  ...             \N  Comedy,Drama,Romance
9003  tt11737862  tvEpisode  ...             \N  Comedy,Drama,Romance
9004  tt11737866  tvEpisode  ...             \N  Comedy,Drama,Romance
9005  tt11737872  tvEpisode  ...             \N                    \N
9006  tt11737874  tvEpisode  ...             \N  Comedy,Drama,Romance
9007   tt1971246  tvEpisode  ...             \N             Biography
9008   tt2067043  tvEpisode  ...             \N                 Music
9009   tt4404732  tvEpisode  ...             \N                Comedy
9010   tt5773048  tvEpisode  ...             \N             Talk-Show
9011   tt8473688  tvEpisode  ...             \N                 Drama
9012   tt8541336  tvEpisode  ...             \N    Reality-TV,Romance
9013   tt9824302  tvEpisode  ...             \N           Documentary

[14 rows x 9 columns]

pengecekan terhadap bentuk data dari kolom genres yang bernilai NULL

In [6]:
movie_df.loc[movie_df['genres'].isnull()]

          tconst  titleType  ...          runtimeMinutes genres
9014  tt10233364  tvEpisode  ...              Reality-TV    NaN
9015  tt10925142  tvEpisode  ...               Talk-Show    NaN
9016  tt10970874  tvEpisode  ...                      \N    NaN
9017  tt11670006  tvEpisode  ...             Documentary    NaN
9018  tt11868642  tvEpisode  ...               Talk-Show    NaN
9019   tt2347742  tvEpisode  ...                      \N    NaN
9020   tt3984412  tvEpisode  ...              Reality-TV    NaN
9021   tt8740950  tvEpisode  ...              Reality-TV    NaN
9022   tt9822816  tvEpisode  ...                      \N    NaN
9023   tt9900062  tvEpisode  ...  Animation,Comedy,Drama    NaN
9024   tt9909210  tvEpisode  ...                      \N    NaN

[11 rows x 9 columns]

### Membuang Data dengan Nilai NULL
membuang data dengan nilai NULL pada kolom primaryTitle dan originalTitle dan melihat jumlah datanya setelah data-data bernilai NULL tersebut dibuang

In [7]:
# mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
# menampilkan jumlah data setelah data dengan nilai NULL dibuang
len(movie_df)

9011

membuang data dengan nilai NULL pada kolom genres dan melihat jumlah datanya setelah data-data bernilai NULL tersebut dibuang

In [8]:
# mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[movie_df['genres'].notnull()]
# menampilkan jumlah data setelah data dengan nilai NULL dibuang
len(movie_df)

9000

### Mengubah Nilai '\\N'
mengubah nilai '\\N' pada startYear menjadi np.nan dan cast kolomnya menjadi float64

In [9]:
movie_df['startYear'] = movie_df['startYear'].replace('\\N',np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
print(movie_df['startYear'].unique()[:5])

[1898. 2018. 2016. 1987. 1973.]

mengubah nilai '\\N' pada endYear menjadi np.nan dan cast kolomnya menjadi float64

In [13]:
movie_df['endYear'] = movie_df['endYear'].replace('\\N',np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
print(movie_df['endYear'].unique()[:5])

[  nan 2005. 1955. 2006. 1999.]

mengubah nilai '\\N' pada runtimeMinutes menjadi np.nan dan cast kolomnya menjadi float64

In [11]:
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N',np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')
print(movie_df['runtimeMinutes'].unique()[:5])

[nan 29.  7. 23. 85.]

### Mengubah nilai genres menjadi list
membuat sebuah function yang bernama transform_to_list untuk mengubah nilai genre menjadi list

In [14]:
def transform_to_list(x):
    if ',' in x: 
    #ubah menjadi list apabila ada data pada kolom genre
        return x.split(',')
    else: 
    #jika tidak ada data, ubah menjadi list kosong
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

## Rating table Case
menampilkan 5 data teratas dari table ratings (rating_df)

In [15]:
rating_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1608
1  tt0000002            6.0       197
2  tt0000003            6.5      1285
3  tt0000004            6.1       121
4  tt0000005            6.1      2050

menampilkan tipe data dari masing-masing kolom yang ada pada table rating (rating_df)

In [ ]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030009 entries, 0 to 1030008
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030009 non-null  object
 1   averageRating  1030009 non-null  float64
 2   numVotes       1030009 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB

### Inner Join table movie dan table rating
inner join antara rating_df dan movie_df untuk mendapatkan rating pada setiap film yang tersedia

In [16]:
# Lakukan join pada kedua table
movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')

# Tampilkan 5 data teratas
movie_rating_df.head()

      tconst  titleType  ... averageRating numVotes
0  tt0043745      short  ...           7.1      459
1  tt0167491      video  ...           5.7        7
2  tt6574096  tvEpisode  ...           8.5      240
3  tt6941700  tvEpisode  ...           8.0       11
4  tt7305674      video  ...           9.7        7

[5 rows x 11 columns]

cek tipe data kolom nya

In [ ]:
# Tampilkan tipe data dari tiap kolom
movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1376 entries, 0 to 1375
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1376 non-null   object
 1   titleType       1376 non-null   object
 2   primaryTitle    1376 non-null   object
 3   originalTitle   1376 non-null   object
 4   isAdult         1376 non-null   int64
 5   startYear       1376 non-null   float64
 6   endYear         26 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1376 non-null   object
 9   averageRating   1376 non-null   float64
 10  numVotes        1376 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 129.0+ KB

### Memperkecil ukuran Table
menghilangkan semua nilai NULL dari kolom startYear dan runtimeMinutes

In [17]:
movie_rating_df = movie_rating_df.dropna(subset=['startYear', 'runtimeMinutes'])

#Untuk memastikan bahwa sudah tidak ada lagi nilai NULL
movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 0 to 1374
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1004 non-null   object
 1   titleType       1004 non-null   object
 2   primaryTitle    1004 non-null   object
 3   originalTitle   1004 non-null   object
 4   isAdult         1004 non-null   int64
 5   startYear       1004 non-null   float64
 6   endYear         17 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1004 non-null   object
 9   averageRating   1004 non-null   float64
 10  numVotes        1004 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 94.1+ KB

## Build Recommender System
Movie Average Rating

In [23]:
c = movie_rating_df['averageRating'].mean()
c

6.829581673306767

film dengan numVotes di atas 80% populasi

Namun populasi yang diambil hanya sebesar 20%.

In [24]:
m = movie_rating_df['numVotes'].quantile(0.8)
m

229.0

### weighted formula function

In [21]:
def imdb_weighted_rating(df, var=0.8):
    v = df['numVotes']
    R = df['averageRating']
    C = df['averageRating'].mean()
    m = df['numVotes'].quantile(var)
    df['score'] = (v/(m+v))*R + (m/(m+v))*C #Rumus IMDb 
    return df['score']
    
imdb_weighted_rating(movie_rating_df)

# dataframe checking
movie_rating_df.head()

      tconst  titleType  ... numVotes     score
0  tt0043745      short  ...      459  7.009992
1  tt0167491      video  ...        7  6.796077
2  tt6574096  tvEpisode  ...      240  7.684380
5  tt2262289      movie  ...       27  6.921384
6  tt0874027  tvEpisode  ...        8  6.869089

[5 rows x 12 columns]

### Build a simple recommender system
- filter numVotes yang lebih dari m
- kemudian diurutkan score dari tertinggi ke terendah untuk diambil nilai beberapa nilai teratas

In [26]:
def simple_recommender(df, top=100):
    df = df.loc[df['numVotes'] >= m]
    df = df.sort_values(by = ['score'], ascending = False) #urutkan dari nilai tertinggi ke terendah
    
    #Ambil data 100 teratas
    df = df[:top]
    return df
    
#Ambil data 25 teratas     
simple_recommender(movie_rating_df, top=25)

         tconst  titleType  ... numVotes     score
68    tt4110822  tvEpisode  ...     3820  9.254624
236   tt2200252      video  ...     1411  8.955045
1181  tt7697962  tvEpisode  ...     1536  8.892450
326   tt7124590  tvEpisode  ...     1859  8.850993
1045  tt0533506  tvEpisode  ...     2740  8.740308
71    tt8399426  tvEpisode  ...     1428  8.700045
1234  tt2843830  tvEpisode  ...     1753  8.660784
1087  tt4295140   tvSeries  ...    12056  8.566998
1054  tt2503932  tvEpisode  ...     2495  8.451165
448   tt0337566      video  ...     1343  8.256663
624   tt0620159  tvEpisode  ...      401  8.020118
1281  tt3166390  tvEpisode  ...      396  8.014679
314   tt0954759  tvEpisode  ...     2766  8.002863
189   tt5661506      video  ...      330  7.992798
151   tt3954426  tvEpisode  ...      437  7.991253
1344  tt6644294  tvEpisode  ...      812  7.976536
1242  tt3677742  tvSpecial  ...     1931  7.965312
1217  tt3642464  tvEpisode  ...      566  7.947641
544   tt0734655  tvEpisode  ...     1559  7.937290
49    tt9119838  tvEpisode  ...      263  7.936330
357   tt4084774  tvEpisode  ...      289  7.928908
1111  tt4174072  tvEpisode  ...     2898  7.914287
790   tt4279086  tvEpisode  ...      823  7.901687
972   tt0048028      movie  ...    38543  7.893678
819   tt0032156      movie  ...     2974  7.823470

[25 rows x 12 columns]

### Build a simple recommender system with user preferences
karena Film dengan averageRating tinggi tidak selalu mendapat posisi yang lebih tinggi dibanding film dengan averageRating yang lebih rendah
- hal ini disebabkan karena kita juga memperhitungkan faktor banyaknya votes

membuat function untuk melakukan filter berdasarkan isAdult, startYear, dan genres

In [28]:
df = movie_rating_df.copy()

def user_prefer_recommender(df, ask_adult, ask_start_year, ask_genre, top=100):
    #ask_adult = yes/no
    if ask_adult.lower() == 'yes':
        df = df.loc[df['isAdult'] == 1]
    elif ask_adult.lower() == 'no':
        df = df.loc[df['isAdult'] == 0]

    #ask_start_year = numeric
    df = df.loc[df['startYear'] >= int(ask_start_year)]

    #ask_genre = 'all' atau yang lain
    if ask_genre.lower() == 'all':
        df = df
    else:
        def filter_genre(x):
            if ask_genre.lower() in str(x).lower():
                return True
            else:
                return False
        df = df.loc[df['genres'].apply(lambda x: filter_genre(x))]

    df = df.loc[df['numVotes'] >= m] #Mengambil film dengan m yang lebih besar dibanding numVotes
    df = df.sort_values(by='score', ascending=False)
    
    #jika kamu hanya ingin mengambil 100 teratas
    df = df[:top]
    return df

user_prefer_recommender(df, ask_adult = 'no', ask_start_year = 2000, ask_genre = 'drama')

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres, averageRating, numVotes, score]
Index: []

In [ ]:
'''Rename kolom :
primaryTitle -> title
titleType -> type
startYear -> start
runtimeMinutes -> duration
averageRating -> rating
numVotes -> votes'''